h1 {color:#000000;
    text-align: center;}
a {text-decoration: none;
color: rgb(90, 3, 3);}
p {color:#444444;
margin-bottom: 10px;}
ol{padding-left: 20px;}
ol>li {font-size: 20px;}
h2 {font-size: 28px;
    color: #000000;
    text-align: center;}
h3 {font-size: 26px;
    color: rgb(13, 13, 15);}
h4 {color: rgb(46, 46, 48);
margin-top: 10px;
margin-bottom: 10px;}

.nav {
    padding: 0;
}
.nav li {
    display: inline;
    padding-right: 20px;
    text-align: center;

}
.nav li:last-child {
    padding-right: 0;
}
.header{
    padding: 15px 15px 15px 15px;
}
.content-section{
    padding:15px 15px 15px 15px;
    width: 450px;
    text-align: center;
}
.album{
    border: 2px dashed;
    padding: 10px, 5px, 10px, 5px;
    margin-bottom: 5px;
}
.bands-list h3 {
    border: none;
    margin:0;
}
.bands-list {
    text-decoration: none;
    color:#ff2244;
}
.bands-list li {
    border: 1px solid #555555;
}
head img {
    display: block;
    margin: 0 auto 15px auto;
}